---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const books = await getCollection("books");

export const prerender = false
---

<Layout title="Bussiness books">
  <main>
    <h1 class="text-center text-7xl font-extrabold mb-20">
      Bussiness
      <span class="block">Books 📚</span>
    </h1>

    <section aria-label="Recommended bussiness books">
      <div class="px-4 mx-auto max-w-screen-xl">
        <div class="grid gap-6 md:grid-cols-2">
          {
            books.map((book) => {
              const { slug, data } = book;
              const { title, author, image, readtime, description, buy } = data;

              return (
                <article class="mt-6 flex flex-col items-center md:flex-row md:items-start">
                  <a
                    href={`book/${slug}`}
                    class=" h-auto md:w-1/3 transition hover:scale-105 cursor-pointer"
                  >
                    <img
                      src={image}
                      alt={title}
                      class="w-full object-cover rounded-lg"
                      transition:name={`img-${slug}`}
                    />
                  </a>
                  <div class="p-4 md:ml-4 flex-1">
                    <h2 class="text-lg font-bold">{title}</h2>
                    <p class="text-sm text-gray-600">by {author}</p>
                    <p class="mt-2 text-sm">{description}</p>
                    <span>⌛ Lectura en {readtime}</span>
                    {/* <a href={buy} class="block mt-4 text-blue-600 hover:underline">Buy now</a> */}
                  </div>
                </article>
              );
            })
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
